// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button{
  background-color: transparent;
  border: solid 0;
  cursor: pointer;
}